streamlit
google-cloud-bigquery 
langchain
langchain-community
langchain-google-genai
sqlalchemy 
pydantic
sympy
pinecone-client
pinecone
pandas
altair
langchain-pinecone
db-dtypes
google-cloud-bigquery-storage
langchain_google_vertexai
langchain_experimental
sqlalchemy-bigquery
google-cloud-aiplatform 
langgraph